html {
  position: relative;
  height: 100%;
  max-height: 100%;
}

body {
    padding-bottom:25px;
    padding-top:40px;
    text-align: center;
    height: 100%;
}

header {
    background-color: #557049;
    width:100%;
    height: 40px;
    position:absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    top:0;
    box-shadow: 0px 2px 8px #333; 
    border-bottom: 1px solid #9DBC8F                 
     
    
}

main {
  height: 100%;
}

#login_page {
    margin: 0 auto;
    text-align: center;
}

#exam_page {
  height:100%;
}

.row {
  margin: 0;
  height: 100%;
}

.questions {
  background-color: #333;
  height: 100%;
  padding-top: 20px;
}

.exam-content {
  background-color: #eee;
  height: 100%; 
}

.question-number-wrapper {
  width:60px;
  padding-bottom: 15px;
}

.question-number {
  width: 110%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
	border:3px solid #eee;
  overflow:hidden;
    
  background: #555;
}

.question-number:hover {
  background: #557049;
}

.question-number a {
  display:block;
	width:100%;
	padding-top:50%;
  padding-bottom:50%;
	line-height:2em;
	margin-top:-1em;
    
	text-align:center;
	color:#eee;
    
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}

.question-number a:hover {
  color:#9DBC8F;
}
                  
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 25px;
    line-height: 25px; /* Vertically center the text there */
    background-color: #557049;
    color: #9DBC8F;
    font-size:8pt;
    
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/