html {
  position: relative;
  height: 100%;
  max-height: 100%;
}

body {
    padding-bottom:25px;
    padding-top:40px;
    text-align: center;
    height: 100%;
}

header {
    background-color: #557049;
    width:100%;
    height: 40px;
    position:absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    top:0;
    box-shadow: 0px 2px 8px #333; 
    border-bottom: 1px solid #9DBC8F                 
     
    
}

main {
  height: 100%;
}

#login_page {
    margin: 0 auto;
    text-align: center;
}

#exam_page {
  height:100%;
}

.row {
  width:100%;
  margin: 0;
  height: 100%;
}

.questions {
  background-color: #333;
  height: 100%;
  padding: 20px 10px;
}

.questions h1 {
  font-size: 14pt;
  color: #eee;
  padding-bottom: 15px;
}

.questions ul {
  padding:0;
  margin:0 auto;
}

.questions ul {
  padding:0;
}

.question-item-wrapper {
  width:100%;
  padding-bottom: 15px;
}

.circle {
  border-radius:50%;
  height:60px;
  width:60px;
  background:#555;
  margin: 0 auto;
  border: 3px solid #eee;
  overflow:hidden;
  text-align:center;
  line-height:70px;
}

.circle:hover, .circle a:hover {
  background: #9DBC8F;
}

.circle.active {
  background: #557049;
}

.circle a {
  font-size:1.2em;
  color:#eee;
  display:block;
	width:100%;
  font-weight:bold;
  text-decoration:none;

  padding-top:50%;
  padding-bottom:50%;
	line-height:2em;
	margin-top:-1em;
}



.small-circle {
  border-radius:50%;
  height:45px;
  width:45px;
  background:#fff;
  margin: 0 auto;
  overflow:hidden;
  text-align:center;
  line-height:45px;
  box-shadow: 0px 0px 20px 2px #fff; 
}

.small-circle a {
  font-size:1em;
  color:#999;
  display:block;
	width:100%;
  font-weight:bold;
  text-decoration:none;

  padding-top:50%;
  padding-bottom:50%;
	
	margin-top:-1.6em;
}




.exam-content {
  background-color: #eee;
  height: 100%;
  color: #555; 
}

#disclaimer {
  border-bottom: 1px solid #ccc;
}
#disclaimer h3 {
  font-size: 10pt;
}


#question-body {
  padding: 15px 0 15px 0;
  text-align: justify;
}

.question-number-value {
  margin:0;
  padding: 0;
}

.question-main-text {
  padding: 15px 0 15px 0;
  text-align: justify;
}

.work-item {
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 1;
  top:22px;
  right: 5px;
  color:#999;
}

.answer {
  resize: none;
  height:90%;
}

.tab-pane {
  padding-top: 15px;
  padding-left: 10px;
}


.flexible-container {
  display:flex;
}

.as-column {
  flex-flow:column;
}

.contained {
  flex:1 1 auto;
}

.tab-content>.active {
  display: flex;
}


.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 25px;
    line-height: 25px; /* Vertically center the text there */
    background-color: #557049;
    color: #9DBC8F;
    font-size:8pt;
    
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/